@layer reset {
  *,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -mo2-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockqoute,
  dl,
  dd {
    margin: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  ul {
    margin: 0;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  form {
    padding: 1rem 0.5rem;
  }
}

@layer base {
  :root {
    --clr-purple: linear-gradient(180deg, #845eee 0%, #652cd1 100%);
    --clr-purple-border: linear-gradient(
      120deg,
      rgba(229, 231, 235, 0.5) 0.05%,
      rgba(229, 231, 235, 0) 25.05%
    );
    --clr-deep-purple: hsl(222, 36%, 11%);
    --clr-black: hsl(217, 24%, 17%);
    --clr-grey: hsl(217, 15%, 28%);
  }

  :root {
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
  }

  body {
    background-color: var(--clr-deep-purple);
    color: white;
  }
}

@layer layout {
  .wrapper {
    --wrapper-max-width: 420px;
    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: 1rem;
    box-sizing: content-box;
  }

  form {
    display: grid;
    background: var(--clr-black);
    padding: 2rem 1.5rem;
    border: 0.2rem solid var(--clr-purple-border);
    border-radius: var(--border-radius-md);
  }

  .input-box {
    display: grid;
    margin-block: 1rem;

    input {
      margin-block: 0.5rem;
      background: var(--clr-black);
      border: 0.1rem solid var(--clr-grey);
      border-radius: var(--border-radius-md);
      color: white;
    }
  }

  button {
    color: white;
    background: var(--clr-purple);
    border-radius: var(--border-radius-lg);
    border: 0.1rem solid var(--clr-purple);
    justify-self: center;
    width: 150px;

    margin-block-start: 1rem;
    padding: 0.5rem;
  }
}

@layer componenet {
  .tracker {
    justify-self: center;
    display: flex;
    margin-block: 0.4rem;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-inline: 0.5rem;
  }

  .active {
    background-color: #845eee;
  }
}
